<div class="slider">
  <div class="childSlider" #slider>
    @for (slide of sliderList; track slide.id) {
      <div class="slide">
        <img [src]="slide.img" [alt]="slide.alt" />
      </div>
    }
    <!-- Se duplica el primer slide para efecto infinito -->
    <div class="slide">
      <img [src]="sliderList[0].img" [alt]="sliderList[0].alt" />
    </div>
  </div>
</div>

<div class="cinta">
  <span>{{ academyInfo.title }}</span>
</div>

<main class="pages">
  <div class="content fadeIn">
    <p class="pItalic">
      {{ academyInfo.description }}
    </p>
    <p>
      We take your business to the next level: connect, grow, and transcend
      without borders.
    </p>

    <h3>Join the Chamber of Commerce</h3>

    <div class="btnValid mt-2" routerLink="/memberships">Join</div>

    <div class="cinta mt-2">
      <span>Preguntas Frecuentes (FAQs)</span>
    </div>

    <div class="mt-1">
      <app-accordion [accordionsData]="preguntasFrecuentesData" />
    </div>
  </div>
</main>
